doctype html
html
  head
    title
  body
    form(action='/admin/submit', method='post')
      | Employee Name: 
      br
      input(type='text', name='firstname')
      br
      | 		Employee Number: 
      br
      input(type='text', name='number')
      br
      | 		Password
      input(type='text', name='password')
      br
      | 		Position
      input(type='text', name='position')
      br
      input(type='submit')